<h2>All Trails for<%=  @trip.name %></h2>

<%@trip.trails.each do |trail|%>
<%= link_to "#{trail.name}", trail_path(trail) %>
<%=trail.address%>
<%=trail.length%>
<% end %>

<p>Total Distance: <%=@trip.total_length %></p>
<p>Average Distance: <%=@trip.average_length %></p>
<p>Shortest Distance: <%=@trip.shortest_length %></p>
<p>Longest Distance: <%=@trip.longest_length %></p>
